on:
  pull_request:
    types: [opened, reopened]
    branches:
      - main

name: create-flock-pr-from-nest-patch
permissions:
  contents: write

jobs:
  create-flock-pr-from-nest-patch:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Nest
        uses: actions/checkout@v4
        with:
          path: 'nest'
          fetch-depth: 0 # Checkout everything to get access to the tags
          repository: 'join-the-flock/nest'
          ref: ${{github.event.pull_request.head.ref}}
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Checkout Flock
        uses: actions/checkout@v4
        with:
          path: 'nest/flock'
          fetch-depth: 0 # Checkout everything to get access to the tags
          repository: 'join-the-flock/flock'
          ref: 'master'
          token: ${{ secrets.REPO_WORKFLOW_PAT }}

      - name: Create branch for Flock PR
        working-directory: nest/flock
        run: |
          git config --global user.email "${{ github.actor_id }}+${{ github.actor }}@users.noreply.github.com"
          git config --global user.name "${{ github.actor }}"
          git checkout -b ${{github.event.pull_request.head.ref}}

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Apply Nest patches to Flock
        run: |
          cd nest
          tools/git-import-patches patches

      - name: Push Flock changes to Flock repo for PR
        working-directory: nest/flock
        run: |
          # Store the PAT in a file that can be accessed by the
          # GitHub CLI.
          echo "${{ secrets.REPO_WORKFLOW_PAT }}" > token.txt

          git push origin ${{github.event.pull_request.head.ref}}

          # Authorize GitHub CLI for the current repository and
          # create a pull-requests containing the updates.
          gh auth login --with-token < token.txt

          # Save the PR description to a file so that we can insert newlines.
          echo "${{ github.event.pull_request.body }}\n\n---\n\nThis Flock PR is derived from the patch in the following Nest PR: \n${{ github.event.pull_request.url }}" > pr_descpription

          # Create the PR.
          gh pr create \
            --title "${{ github.event.pull_request.title }}" \
            --body-file pr_description \
            --head "${{ github.event.pull_request.head.ref }}" \
            --base "master"
