# This workflow is a continuation of "create-flock-pr-with-nest-patch.yaml", which
# updates existing Flock PRs based on further commits to those PRs.

on:
  pull_request:
    types: [synchronize, reopened]
    branches:
      - main

name: update-flock-pr-from-nest-patch
permissions:
  contents: write

jobs:
  update-flock-pr-from-nest-patch:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Nest
        uses: actions/checkout@v4
        with:
          path: 'nest'
          fetch-depth: 0 # Checkout everything to get access to the tags
          repository: ${{github.action_repository}}
          ref: ${{github.event.pull_request.head.ref}}
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Look for Flock patch changes
        run: |
          cd nest
          git fetch origin ${{ github.base_ref }}
          if git diff --quiet origin/${{ github.base_ref }}...HEAD -- patches/; then
            echo "No changes to Flock patches. Exiting workflow."
            echo "has_patch_changes=false" >> $GITHUB_ENV
          else
            echo "This PR includes Flock patch changes. Creating Flock PR for review."
            echo "has_patch_changes=true" >> $GITHUB_ENV
          fi

      - name: Checkout Flock
        if: env.has_patch_changes == 'true'
        uses: actions/checkout@v4
        with:
          path: 'nest/flock'
          fetch-depth: 0 # Checkout everything to get access to the tags
          repository: 'join-the-flock/flock'
          ref: 'master'
          token: ${{ secrets.REPO_WORKFLOW_PAT }}

      - name: Create branch for Flock PR
        if: env.has_patch_changes == 'true'
        working-directory: nest/flock
        run: |
          git config --global user.email "${{ github.actor_id }}+${{ github.actor }}@users.noreply.github.com"
          git config --global user.name "${{ github.actor }}"
          git checkout -b ${{github.event.pull_request.head.ref}}

      - name: Setup Python
        if: env.has_patch_changes == 'true'
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Apply Nest patches to Flock
        if: env.has_patch_changes == 'true'
        run: |
          cd nest
          tools/git-import-patches patches

      - name: Push Flock changes to Flock repo for PR
        if: env.has_patch_changes == 'true'
        working-directory: nest/flock
        run: |
          # Store the PAT in a file that can be accessed by the
          # GitHub CLI.
          echo "${{ secrets.REPO_WORKFLOW_PAT }}" > token.txt

          # Force push to the existing PR branch.
          git push -f origin ${{github.event.pull_request.head.ref}}
